[submodule "lib/Regexp"]
	path = lib/Regexp
	url = https://github.com/nickgammon/Regexp.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "lib/RemoteArduino"]
	path = lib/RemoteArduino
	url = https://github.com/JayLooi/RemoteArduino.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/simpleRPC"]
	path = lib/simpleRPC
	url = https://github.com/jfjlaros/simpleRPC.git
